.content{
    margin-top: 8rem;
}
.btn__clear{
    margin-bottom: 1rem;
}
.dropdown__filter{
    text-align: right;
    margin-bottom: 1rem;
}
.filter__container{
    overflow: scroll;
    height: 75vh;
}
.pagi{
    display: flex;
    align-items: center;
    justify-content: center;
}